@model LinkedList<Tuple<SortedDictionary<String, double>, double>>

@using System.Text;

@{
    Layout = null;
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
    <script src="~/Scripts/jquery-2.1.1.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script type="text/javascript"
            src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    <script type="text/javascript" src="~/Scripts/App/Js.js" ></script>
    <script type="text/javascript" src="~/Scripts/App/jquery.tooltipster.js"></script>
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" /> 


    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <p>Input format: d1X1 + d2X2 + ... + dnXn = f  where d1..dn - coefficients, X1..Xn - unknown names (digits are not allowed), f - constant term.<br/> 
         Any whitespace character will be ignored while parsing. <br/>
         Sample: -x + 3.14y+ 0z =0.123
        </p>

      @if (Model.Count > 0){
          //  @Html.Raw("<math xmlns=\"http://www.w3.org/1998/Math/MathML\">");
          //  @Html.Raw("<mo>&#123;</mo>   <!--curly brace-->  <mtable>");
            }
            @foreach (Tuple<SortedDictionary<String, double>, double> equation in Model) {  
              //  @Html.Raw("<mtr><mtd>");
                bool emitFirstSign = true;
                foreach (KeyValuePair<string, double> kv in equation.Item1) {
                             if (kv.Value >= 0) {
                                if (!emitFirstSign){
                          //          @Html.Raw("<mo>&#43;<!--PLUS--></mo>");
                                }
                             } else {
                                @Html.Raw("<mo>&#45;<!--MINU--></mo>");
                             }
                             emitFirstSign = false;
                         //    @Html.Raw("<mn>" + (Math.Abs(kv.Value)) + "</mn>");
                       //      @Html.Raw("<mi>" + kv.Key + "</mi>");
                            }

             //   @Html.Raw("<mo>&#61;<!--EQUAL--></mo>");
          //      @Html.Raw("<mn>" + (equation.Item2) + "</mn>");
            //    @Html.Raw("</mtr></mtd>");
                        }
            
            
            @if (Model.Count > 0){
             //   @Html.Raw("</mtable>");
           //     @Html.Raw("</math>");
              }
              
        <br/>
        <br/>

      
        
        @if (ViewBag.Solution != null) {
         //   @Html.Raw("<math xmlns=\"http://www.w3.org/1998/Math/MathML\">");
            int i = 0;
            foreach (Tuple<String, double> res in ViewBag.Solution) {             
             //   @Html.Raw("<mi>" + res.Item1 + "</mi>");
            //    @Html.Raw("<mo>&#61;<!--EQUAL--></mo>");
           //     @Html.Raw("<mn>" + res.Item2 + "</mn>");
                if (i != (ViewBag.Solution.Count - 1)) {
               //     @Html.Raw("<mn>,</mn><mspace width=\"10px\" />");
                }
                i++;
                                                       
            }
       //     @Html.Raw("</math>");
        }

</div>
   <div>
        <div class="left">
            <ul style="list-style-type: none" id="equations">              
            </ul>
            <div class="append">
                Add an equation
            </div>
        </div>

        <div id="output" class="right">
           
        </div>
    </div>
   
   


</body>
</html>
